.container {
  margin-top: 20px;
}

.title {
  font-weight: bold;
  font-size: var(--title-text-size);
}

.subText {
  color: var(--sub-text-color);
  font-size: var(--sub-text-size);
  margin: 10px 0;
}

.nameContents {
  height: 60px;

  @media screen and (min-width: 600px) {
    height: 100px;
  }
}

.buttonContents {
  margin-top: 30px;
  text-align: center;

  @media screen and (min-width: 600px) {
    padding-top: 40px;
  }
}