.inputContainer {
  display: flex;
  padding-top: 20px;
}

.inputContents {
	position: relative;
  margin-right: 20px;
  width: 100%;
}
.inputContents input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #1b2538;
	border-radius: 4px;
  width: 100%;
}
.inputLabel input[type='text']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}
.errorMessage {
  color: #da3c41;
  font-size: 14px;
  padding-top: 5px;
}