.container {
	width: 100%;
}

.btn {
	width: 250px;
	height: 50px;
	background-color: #fdb736;
	border-radius: 35px;
	box-shadow: 2px 2px 4px gray;
	font-weight: 700;
  color: #525151;
}

.btn:hover {
	color: #646161;
	background-color: #ffa500;
}
